* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #container {
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
  }

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock {
    text-align: center;
    font-weight: bold;
    font-size: 130px;
    text-shadow: 10px 10px 10px #357697;
    outline: 0
}

