html, body {
    height: 100%;
    overflow: hidden;
  }
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock {
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}